body {
    color: #fff;
    background: linear-gradient(180deg, #113651, #0f3c37);
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

.gutter {
    margin: 0 auto;
    margin-top: 50px;
    width: min(70vw, 900px);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    color: #000;
}